---
---
// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #e6142d !default;
$header-logo-border-color: black;

// Text
// $section-headings-color: #159957 !default;
$section-headings-color: #e6142d !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;


@import "{{ site.theme }}";

html {
  font-size: 100%;
}

.navbar {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  background: #fafafa;
  border-radius: 0;
}
.navbar-nav .logo {
  margin: 7.5px;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0,0,0,0.25);
}

.page-header {
  margin-top: 0;
  text-align: left;
  background-image: url('../images/cover.jpg');
  background-repeat: round;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid $header-logo-border-color;
}

.project-info {
  display: inline-block;
  position: relative;
  top: 40px;
  left: 20px;
}

.project-name span {
  background-color: unset;
}
.project-tagline span {
  background-color: unset;
}

@media (max-width: 992px) {
  .logo {
    width: 150px;
    height: 150px;
    border: 3px solid $header-logo-border-color;
  }
}
