---
---
$cover-image: "../cover.jpg";


@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: left;
  background-image: url($cover-image);
  background-size: cover;
}
