---
---
// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
// $header-bg-color: #e6142d !default;
$header-bg-color: white !default;
$header-logo-border-color: black;

// Text
// $section-headings-color: #159957 !default;
$section-headings-color: #e6142d !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;


@import "{{ site.theme }}";

html {
  font-size: 100%;
}

.navbar {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  background: #fafafa;
  border-radius: 0;
}
.navbar .navbar-brand {
  font-size: 14px;
}
.navbar .logo {
  float: left;
  margin: 7.5px;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 50%;
}

.page-header {
  margin: 0;
  padding: 0;
  text-align: left;
  background-image: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.page-header .cover {
  width: 100% ;
  height: 300px;
}

.page-header .content {
  padding: 0 4rem;
  background: #fafafa;
  height: 61px;
}

.page-header .logo {
  position: relative;
  top: -115px;
  width: 200px;
  height: 200px;
  // margin-bottom: -190px;
  border-radius: 50%;
  border: 5px solid black;
}

.page-header .project-info {
  display: inline-block;
  position: relative;
  // top: -46px;
  top: -96px;
  left: 10px;
}
.project-info * {
  margin: 0;
}

.project-name {
  text-shadow: 1px 1px black;
  font-size: 3.25rem;
}
.project-tagline {
  position: relative;
  // top: 25px;
  top: 28px;
  color: $section-headings-color;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.aspect-ratio .video {
  padding-bottom: 56.25%;
}
.aspect-ratio .document {
  padding-bottom: 200%;
}
.aspect-ratio iframe, object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 676px) {
  .page-header .cover {
    height: 200px;
  }
  .page-header .content {
    text-align: center;
    padding: 0 1rem;
    margin: 0;
    height: inherit;
  }
  .page-header .logo {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    position: relative;
    top: -100px;
    margin-bottom: -100px;
  }
  .page-header .project-info {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .page-header .project-name {
    font-size: 2.75rem;
    color: black;
  }
  .page-header .project-tagline {
    position: relative;
    top: 5px;
    padding-bottom: 20px;
    font-size: 1rem;
  }
}
